language: dart
sudo: false

dart:
  - dev

dart_task:
  - test
  - dartfmt
  - dartanalyzer

# Only building master means that we don't run two builds for each pull request.
branches:
  only: [master, travis]

cache:
  directories:
    - $HOME/.pub-cache
