language: dart
sudo: false

dart:
  - dev

dart_task:
  - test: --preset travis --total-shards 5 --shard-index 0
  - test: --preset travis --total-shards 5 --shard-index 1
  - test: --preset travis --total-shards 5 --shard-index 2
  - test: --preset travis --total-shards 5 --shard-index 3
  - test: --preset travis --total-shards 5 --shard-index 4
  - dartfmt
  - dartanalyzer

# Create a snapshot to improve startup time. Tests will automatically use this
# snapshot if it's available.
before_script:
  - dart --snapshot=bin/pub.dart.snapshot.dart2 bin/pub.dart

# Only building these branches means that we don't run two builds for each pull
# request.
branches:
  only: [master, travis, /^feature\./]

os:
  - linux
  - osx
  - windows

cache:
  directories:
    - $HOME/.pub-cache
