name: pub

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  # Note: Pub's test infrastructure assumes that any dependencies used in tests
  # will be hosted dependencies.
  analyzer: ^4.0.0
  args: ^2.1.0
  async: ^2.6.1
  cli_util: ^0.3.5
  collection: ^1.15.0
  crypto: ^3.0.1
  frontend_server_client: ^2.0.0
  http: ^0.13.3
  http_multi_server: ^3.0.1
  meta: ^1.3.0
  oauth2: ^2.0.0
  path: ^1.8.0
  pool: ^1.5.0
  pub_semver: ^2.1.0
  shelf: ^1.1.1
  source_span: ^1.8.1
  stack_trace: ^1.10.0
  usage: ^4.0.2
  yaml: ^3.1.0
  yaml_edit: ^2.0.0

dev_dependencies:
  lints: ^1.0.1
  shelf_test_handler: ^2.0.0
  test: ^1.17.3
  test_descriptor: ^2.0.0
  test_process: ^2.0.0
