name: pub

environment:
  sdk: ^3.7.0

dependencies:
  analyzer: 7.4.1
  args: ^2.7.0
  async: ^2.11.0
  cli_util: ^0.4.1
  collection: ^1.18.0
  convert: ^3.1.2
  crypto: ^3.0.6
  frontend_server_client: ^4.0.0
  graphs: ^2.3.1
  http: ^1.1.2
  http_multi_server: ^3.2.1
  http_parser: ^4.1.1
  meta: ^1.16.0
  path: ^1.9.1
  pool: ^1.5.1
  pub_semver: ^2.2.0
  shelf: ^1.4.1
  source_span: ^1.10.1
  stack_trace: ^1.11.1
  tar: ^2.0.0
  typed_data: ^1.4.0
  yaml: ^3.1.3
  yaml_edit: ^2.2.1

dev_dependencies:
  checks: ^0.3.0
  dart_flutter_team_lints: ^3.5.1
  shelf_test_handler: ^2.0.2
  test: ^1.25.14
  test_descriptor: ^2.0.2
  test_process: ^2.1.0
