name: pub

dependencies:
  # Note: Pub's test infrastructure assumes that any dependencies used in tests
  # will be hosted dependencies.
  analyzer: ">=0.25.0 <0.31.0"
  args: ">=0.13.5 <2.0.0"
  async: ">=1.12.0 <3.0.0"
  collection: "^1.8.0"
  crypto: ">=1.0.0 <3.0.0"
  http: "^0.11.0"
  http_multi_server: ">=1.0.0 <3.0.0"
  http_retry: "^0.1.1"
  http_throttle: "^1.0.0"
  meta: "^1.1.0"
  oauth2: "^1.0.0"
  package_config: "^1.0.0"
  package_resolver: "^1.0.0"
  path: "^1.2.0"
  pool: "^1.0.0"
  pub_semver: "^1.3.0"
  shelf: ">=0.6.0 <0.7.0"
  source_span: "^1.4.0"
  stack_trace: "^1.0.0"
  yaml: "^2.0.0"

dev_dependencies:
  shelf_test_handler: "^1.0.0"
  test: "^0.12.20"
  test_descriptor: "^1.0.0"
  test_process: "^1.0.0"

environment:
  sdk: ">=2.0.0-dev.17.0 <2.0.0"

