name: pub

# Pub is not yet ready to release as a user-accessible package.
version: 1.0.0-unreleased

dependencies:
  # Note: Pub's test infrastructure assumes that any dependencies used in tests
  # will be hosted dependencies.
  analyzer: ">=0.25.0 <0.28.0"
  args: "^0.13.5"
  async: "^1.5.0"
  barback: "^0.15.2"
  collection: "^1.8.0"
  compiler_unsupported: "^1.13.0-dev"
  crypto: ">=1.0.0 <3.0.0"
  glob: "^1.0.0"
  http: "^0.11.0"
  http_multi_server: ">=1.0.0 <3.0.0"
  http_throttle: "^1.0.0"
  json_rpc_2: "^2.0.0"
  mime: "^0.9.0"
  oauth2: "^1.0.0"
  package_config: "^0.1.1"
  package_resolver: "^1.0.0"
  path: "^1.2.0"
  pool: "^1.0.0"
  pub_semver: "^1.3.0"
  shelf: ">=0.6.0 <0.7.0"
  shelf_web_socket: "^0.2.0"
  source_span: "^1.0.0"
  stack_trace: "^1.0.0"
  stream_channel: "^1.4.0"
  string_scanner: "^0.1.0"
  watcher: "^0.9.2"
  web_socket_channel: "^1.0.0"
  yaml: "^2.0.0"

dev_dependencies:
  scheduled_test: "^0.12.0"
  test: "^0.12.3+3"

environment:
  sdk: ">=1.11.0 <2.0.0"
