name: pub

environment:
  sdk: ^3.7.0

dependencies:
  analyzer: ^10.0.2
  args: ^2.7.0
  async: ^2.13.0
  cli_util: ^0.4.2
  collection: ^1.19.1
  convert: ^3.1.2
  crypto: ^3.0.7
  file: ^7.0.1
  frontend_server_client: ^4.0.0
  glob: ^2.1.3
  graphs: ^2.3.2
  http: ^1.6.0
  http_multi_server: ^3.2.2
  http_parser: ^4.1.2
  meta: ^1.18.1
  path: ^1.9.1
  pool: ^1.0.0
  pub_semver: ^2.2.0
  shelf: ^1.4.2
  source_span: ^1.10.1
  stack_trace: ^1.12.1
  tar: ^2.0.0
  typed_data: ^1.4.0
  web: ^1.1.1
  yaml: ^3.1.3
  yaml_edit: ^2.2.4

dev_dependencies:
  checks: ^0.3.1
  dart_flutter_team_lints: ^3.5.2
  shelf_test_handler: ^2.0.2
  test: ^1.26.3
  test_descriptor: ^2.0.2
  test_process: ^2.1.1
