name: pub

environment:
  sdk: ^3.2.0

dependencies:
  analyzer: ^6.3.0
  args: ^2.5.0
  async: ^2.11.0
  cli_util: ^0.4.1
  collection: ^1.18.0
  convert: ^3.1.1
  crypto: ^3.0.3
  frontend_server_client: ^4.0.0
  http: ^1.1.2
  http_multi_server: ^3.2.1
  http_parser: ^4.0.2
  meta: ^1.11.0
  path: ^1.9.0
  pool: ^1.5.1
  pub_semver: ^2.1.4
  shelf: ^1.4.1
  source_span: ^1.10.0
  stack_trace: ^1.11.1
  tar: ^1.0.3
  typed_data: ^1.3.2
  yaml: ^3.1.2
  yaml_edit: ^2.1.1

dev_dependencies:
  checks: ^0.3.0
  lints: ^3.0.0
  shelf_test_handler: ^2.0.2
  test: ^1.24.9
  test_descriptor: ^2.0.1
  test_process: ^2.1.0
